*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aqua;
    height: 10vh;

    display: flex;
    justify-content: space-evenly;
}

main {
    background-color: rgb(255, 0, 234);
    min-height: 80vh;
    display: flex;
}

footer {
    background-color: rgb(26, 255, 0);
    min-height: 10vh;
}

article {
    border: 1px solid rgb(0, 0, 0);
    background-color: blue;
    text-align: center;
    width: 100%;
}